
    <div class="card-content">
        <div class="card-img">
            <img src="https://placeimg.com/380/230/animals" alt="">
            <span>
                <h4 style="color:white;">{{animal.nombre}}</h4>
            </span>  
        </div>
        <div class="card-desc">
            <h1 align="center">{{animal.nombre}}</h1>
            <ul style="list-style-type:circle">
                <li>Animales en estado salvaje</li>
                <li>en su habitat natural</li>
                <li>libres</li>
            </ul>
            <p>Los animales más bonitos de la naturaleza</p>
            <a href="#" class="btn-card">Read</a>
        </div>
    </div>
